# systemd service for managing all opendmarc autoconfiguration.

[Unit]
Description=OpenDKIM Configuration Autodiscovery
Requires=opendmarc.service
PartOf=opendmarc.service
ReloadPropagatedFrom=opendmarc.service
Before=opendmarc.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/opendmarc
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/opendmarc
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

